/* Estilos Generales*/
:root {
    --marronClaro: #eddcc6;
    --marronNavbar: #33241b;
    --marronOscuro: #160d0b;
    --degradado: linear-gradient(to bottom, #33241b, #160d0b);
    --verdeMoho: #1e2d2c;
    --marronBoton: #341f14;
}

/* COMIENZO NAVBAR */

.headerContainer {
    background-color: #33241b;
    justify-content: center;
}

.topBanner {
    height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: var(--marronClaro);
    background-color: var(--verdeMoho);
    padding-top: 1rem;
    margin: 0;
}

.imgLogo {
    width: 12rem;
    height: 5rem;
}

.navbar.navbar-expand-lg {
    padding: 0 auto;
    margin: 0;
    background-color: #33241b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-nav a {
    font-size: 1rem;
    font-family: 'Unna', serif;
    color: var(--marronClaro);
    text-decoration: none;
    text-align: center;
    gap: 50px;
}

.navbar-nav a:hover {
    color: var(--marronClaro);
    background-color: var(--verdeMoho);
    border-radius: 25px;
    transition: 0.5s;
}

button.navbarBtn .navbar-toggler-icon {
    background-color: var(--marronNavbar);
    background-image: url(../src/img/LieasOlas.svg);
    width: 2rem;
}

.offcanvas {
    background-color: var(--marronNavbar);
    font-size: 1.5rem;
}

.burgerMenu {
    background-color: var(--marronNavbar);
    font-size: 1.5rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.olas {
    display: flex;
    width: 50px;
    height: 32px;
    background-position: 0px 0;
    background-size: 50px;
    animation: olasIcono 5s linear infinite;
    background-repeat: repeat-x;
}

.botonesContainer {
    margin: 0;
    display: flex;
    align-items: end;
    justify-content: end;
}

@keyframes olasIcono {
    to {
        background-position: -50px 0;
    }
}

/*Login Modal*/
.modal .modalBg {
    background-color: var(--marronOscuro);
    color: var(--marronClaro);
}

.modal .modal-body .formContainer,
.modal-body .linkContra {
    align-items: center;
}

.modal .btnIngresar {
    background-color: var(--marronBoton);
    color: var(--marronClaro);
    font-weight: 600;
    border: 3px solid var(--marronClaro);
    cursor: pointer;
    background: transparent;
    transition: 1.3s ease;
    border-radius: 20px;
}

.modal .btnIngresar:hover {
    background-color: var(--marronClaro);
    color: var(--marronOscuro);
}

.modal-header {
    border: none;
}

.modal-header button.btn-close {
    align-self: flex-start;
}

.modal-body a.linkContra {
    color: var(--marronClaro);
}

.modal-body a.linkContra:hover {
    color: #7b543f;
}


.form {
    background-color: transparent;
}

.formItem {
    position: relative;
    margin-bottom: 15px
}

.formItem input {
    display: block;
    width: 20rem;
    height: 3rem;
    background: transparent;
    border: solid 1px var(--marronClaro);
    border-radius: 20px;
    transition: all .3s ease;
    color: var(--marronClaro);
}

.formItem input:focus {
    --bs-focus-ring-color: var(--marronNavbar);
    --bs-focus-ring-y: 0.1px;
    --bs-focus-ring-blur: 20px;
    color: var(--marronClaro);
    border: 2px solid var(--marronClaro);
    background-color: transparent;
}

.formItem label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 10px;
    left: 10px;
    font-weight: bold;
    background-color: transparent;
    padding: 0 10px;
    color: #725546;
    transition: all .3s ease
}

.formItem input:focus+label,
.formItem input:valid+label,
.formItem input.hasValue+label {
    font-size: 1rem;
    top: -10px;
    background-color: #160d0bf1;
    color: var(--marronClaro);
    border-radius: 10px;
}

.registrarseWrapp {
    width: 100%;
}

a.registrarse {
    color: var(--marronClaro);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    padding-left: 3%;
}

.usuarioInvalido {
    display: none;
    background-image: linear-gradient(rgba(248, 81, 73, 0.1), rgba(248, 81, 73, 0.1));
    border: 1px solid rgba(248, 81, 73, 0.4);
    border-radius: 10px;
    padding: 1% 5%;
    margin: 0 3% 2%;
    color: #e6edf3;
}

@media (max-width: 992px) {
    .navbar-right li .btn i::after {
        content: 'Login';
        padding-left: 1rem;
        font-family: 'Unna', serif;
        font-size: 1.3rem;
        font-weight: 400;
        color: #9d745e;
    }

    .navBody {
        width: 68%;
        justify-content: space-around;
    }

    .headerContainer {
        display: flex;
        justify-content: space-between;

    }
    .modal .btnIngresar {
        width: 20rem;
    }

}

@media (max-width: 430px) {

    .navBody {
        width: 100%;
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    div.navContainer {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .navbar-right {
        position: absolute;
        right: 7%;
    }

    .headerContainer {
        display: flex;
    }

    .botonesContainer {
        position: absolute;
        top: 9rem;
        right: 1rem;
        justify-content: space-evenly;
    }

    .modal .btnIngresar {
        width: 20rem;
    }

    .modal .btnIngresar:hover {
        transform: scale(1.2);
    }

}

@media (max-width: 374px) {
    .navbar-brand img {
        width: 8.6rem;
    }
}

@media (max-width: 575px) {
    .modal .btnIngresar {
        width: 90vw;
    }
}

/* FINAL DEL NAVBAR */



/* COMIENZO CONTENIDO */

/* FINAL DEL CONTENIDO */



/* COMIENDO FOOTER */

/* FINAL DEL FOOTER */